<!DOCTYPE html>
<html>
    <head>
        <title>
            Sistema de Login em PHP
        </title>
        <link rel="stylesheet" href="http://localhost/sistema-login/assets/css/dashboard-style.css">
    </head>
    <body>
        <header>
            <div class="content_area">
                Bem vindo {{name_user}},

                <a href="http://localhost/sistema-login/dashboard/logout">Sair</a>
            </div>
            
        </header>
        <section class="box_dashboard">
            <div class="content_area">
                <h1>DASHBOARD</h1>
            </div>
        </section>

    </body>
</html>